{% extends 'index.html' %}
{% load humanize %}
{% load static %}

{% block title %}
<a href="/" style="color: aliceblue;">INICIO</a> > <a href="/contaduria/aplicaciones/" style="color: aliceblue;">CONTADURIA</a> > <a href="/factura/facturas" style="color: aliceblue;">FACTURAS</a>
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!--FILTROS-->
<input type="hidden" name="fecha_desde" value="{{ fecha_desde }}">
<input type="hidden" name="fecha_hasta" value="{{ fecha_hasta }}">

<!-- Ventana emergente (modal) para el formulario avanzado -->
<div class="modal fade" id="filtroAvanzadoModal" tabindex="-1" role="dialog" aria-labelledby="filtroAvanzadoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <form method="GET">
        
                <div class="modal-header">
                    <h5 style="color: #5454E6;" id="facturaModalLabel">
                        <img class="logo img" src="{% static 'assets/logo.png' %}" alt="" style="height: 50px;width: 50px;">
                        &nbsp;&nbsp; Filtros avanzados
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        
                <div class="modal-body">
                    <!-- formulario -->
        
                    <div class="row p-3">
                        <div class="btn-group" data-toggle="buttons">
                            <div class="col-4 m-1">
                                <label class="btn btn-outline-primary w-100">
                                    <input type="radio" name="verFacturas" value="pendientes" id="pendientes"
                                        style="appearance: none; -webkit-appearance: none;"> Ver facturas pendientes
                                </label>
                            </div>
                            <div class="col-4 m-1">
                                <label class="btn btn-outline-primary w-100">
                                    <input type="radio" name="verFacturas" value="autorizadas" id="autorizadas"
                                        style="appearance: none; -webkit-appearance: none;"> Ver facturas autorizadas
                                </label>
                            </div>
                            <div class="col-4 m-1">
                                <label class="btn btn-outline-primary w-100">
                                    <input type="radio" name="verFacturas" value="op" id="todas"
                                        style="appearance: none; -webkit-appearance: none;"> Ver facturas con OP
                                </label>
                            </div>
                            <div class="col-4 m-1">
                                <label class="btn btn-outline-primary w-100">
                                    <input type="radio" name="verFacturas" value="todas" id="todas-hidden" style="display: none;" checked> Todas
                                </label>
                            </div>
                        </div>
                        
                        
                    </div>
        
                    <div class="row">
                        <div class="col-6">
        
                            <!--FILTRO FECHA-->
                            <div class="row">
                                <div class="col-6 d-block">
                                    <!-- Filtro desde -->
                                    <label for="fecha_desde"><b class="text-primary">Fecha desde:</b></label>
                                    <input type="date" id="fecha_desde" name="fecha_desde" class="form-control">
                                </div>
        
                                <div class="col-6 d-block">
                                    <!-- Filtro hasta -->
                                    <label for="fecha_hasta"><b class="text-primary">Fecha hasta:</b></label>
                                    <input type="date" id="fecha_hasta" name="fecha_hasta" class="form-control">
                                </div>
                            </div>
        
        
                            <!--FILTRO PROVEEDOR-->
                            <div class="row">
                                <div class="col-6">
                                    <label for="proveedor" style="margin-top: 20px;">
                                        <p><b class="text-primary">Proveedores</b></p>
                                        <small class="text-primary font-italic">(Pres. Ctrl para seleccionar más de uno)</small>
                                    </label>
        
                                    <input type="text" id="buscador_proveedores" class="form-control"
                                        placeholder="Buscar proveedor...">
                                </div>
                                <div class="col-6">
        
                                    <label for="factura" style="margin-top: 20px;">
                                        <p><b class="text-primary">Facturas</b></p>
                                        <small class="text-primary font-italic">(Pres. Ctrl para seleccionar más de uno)</small>
                                    </label>
                                    <input type="text" id="buscador_facturas" class="form-control" placeholder="Buscar factura...">
                                </div>
                            </div>
        
                            <div class="row">
        
                                <div class="col-6">
                                    <!-- lista de proveedores -->
                                    <select id="proveedor" name="proveedor" class="form-control" multiple
                                        style="font-size: small;margin-top: 15px; height: 280px; resize: vertical; max-height: 500px;">
                                        {% for proveedor in proveedores %}
                                        <option value="{{ proveedor }}">{{ proveedor }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
        
                                <div class="col-6">
        
                                    <!-- lista de facturas -->
                                    <select id="nroFactura" name="nroFactura" class="form-control" multiple
                                        style="font-size: small;margin-top: 15px; height: 280px; resize: vertical; max-height: 500px;">
                                        {% for nroFactura in nroFacturas %}
                                        <option value="{{ nroFactura }}">{{ nroFactura }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
        
                            </div>
        
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6 ">
                                    <div class="card" style="border: none;">
                                        <div class="card-body">
                                            <p class="card-title"> <b class="text-primary">Proveedores seleccionados</b> </p>
                                            <ul id="proveedores_seleccionados" class="list-group"
                                                style="list-style: none;font-size: smaller;height: 400px;">
                                                <!-- Aquí se listarán los proveedores seleccionados -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card" style="border: none;border-top: 15px;">
                                        <div class="card-body">
                                            <p class="card-title"><b class="text-primary">Facturas seleccionadas</b> </p>
                                            <ul id="facturas_seleccionadas" class="list-group"
                                                style="list-style: none;font-size: smaller;height: 400px;">
                                                <!-- Aquí se listarán los códigos seleccionados -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
        
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-lg btn-block">Aplicar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<form method="post" action="{% url 'facturas' %}">
    {% csrf_token %}


<!-- Modal para confirmacion de aceptacion masiva -->
<div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="facturaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: #5454E6;" id="facturaModalLabel">
                    <img class="logo img" src="{% static 'assets/logo.png' %}" alt="" style="height: 50px;width: 50px;"> &nbsp;&nbsp; Confirmar Autorización
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="row text-center">
                    
                    <!-- Contenedor oculto-->
                    <div class="container d-none" id="contenedorMostrar">
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <div class="input-group">
                                    <div class="col-9">
                                        <input type="text" name="codigoAutorizacionMod" class="form-control w-100" placeholder="Ingrese su código" >
                                    </div>
                                    <div class="col-3">
                                        <button id="ingresarCodigoMod" type="submit"  name="ingresarCodigoMod" class="btn btn-success confirmarCodigo">
                                            Confirmar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    
                    <p class="m-4">¿Estás seguro de que deseas autorizar las facturas seleccionadas?</p>

                    <div class="col-9">
                        <div>
                            <ul id="facturasSeleccionadasList" style="max-height: 300px; overflow-y: auto;">
                                <!-- Aquí se mostrarán las facturas seleccionadas -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-3" style="max-height: 300px; overflow-y: auto;">

                        {% if montoCodigoAprobacion > 0 %}
                            <div class="mt-4">
                                <div>
                                    <b>DINERO DISPONIBLE DE CODIGO:</b> 
                                </div>
                                <div>
                                    $ &nbsp; {{ montoCodigoAprobacion|intcomma }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="mt-4" id="mostrarTotales">
                            <!-- se va a llenar con seleccionados y disponibles por codigo -->
                        </div>


                    </div>
                    
                </div>
            </div>

            <div class="modal-footer">
                <button id="autorizarBoton" type="submit" class="btn btn-success" id="confirmarAutorizacion" name="autorizar_seleccionados" style="display: none;">
                    Autorizar facturas
                </button>
                
                <button id="noAutorizarBoton" type="button" class="btn btn-success error-button-modal" style="display: none;">
                    Autorizar facturas
                </button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>
    
<!-- Modal para ingresar codigoAutorizacion-->
<div class="modal fade" id="codigoAutorizacionModal" tabindex="3" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Código de Autorización</h5>
                <button type="button" id="cerrarModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col-9">
                        <input type="text" name="codigoAutorizacion" class="form-control w-100" placeholder="Ingrese su código" >
                    </div>
                    <div class="col-3">
                        <button id="ingresarCodigo" type="submit"  name="ingresarCodigo" class="btn btn-success confirmarCodigo">
                            Confirmar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container mt-4" style="min-height: 70vh;">
        <div class="card">
            <div class="card-body">
                
                <!--SECCION DE TARJEtAS-->
                <div class="row">
                    <!-- cantidad facturas -->
                    <div class="col-xl-4 col-md-4 mb-4">
                        <div class="card shadow h-100 py-2"
                            style="background-color: rgba(1, 37, 242, 0.729);border-left: 4px solid rgba(1, 10, 185, 0.9);">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                            <b style="color: aliceblue;">FACTURAS</b>
                                        </div>
                                        <div class="h4 mb-0 font-weight-bold" style="color: #ffffff;">{{ cantidad_facturas_pendientes }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <img class="logo" src="{% static 'assets/iconos/logo-heart.png' %}" alt="" style="height: 60px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- total solicitudes pendientes -->
                    <div class="col-xl-4 col-md-4 mb-4">
                        <div class="card shadow h-100 py-2"
                            style="background-color: rgba(245, 186, 57, 0.5);border-left: 4px solid rgba(237, 146, 0, 0.9);">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-lg font-weight-boldtext-uppercase mb-1" style="color: rgb(252, 117, 0);">
                                            <b>DINERO DISPONIBLE</b>
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" style="color: #e96100;">
                                            $ &nbsp; {{ total|intcomma}}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <img class="logo" src="{% static 'assets/iconos/logo-heart.png' %}" alt=""
                                            style="height: 60px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- total solicitudes pendientes -->
                    <div class="col-xl-4 col-md-4 mb-4">
                        <div class="card shadow h-100 py-2"
                            style="background-color: rgba(60, 255, 12, 0.5);border-left: 4px solid rgba(31, 142, 3, 0.5);">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-lg font-weight-bold text-uppercase mb-1" style="color: rgb(35, 154, 5);">
                                            <b>TOTAL SELECCIONADO</b>
                                        </div>
                                        <div id="totalSeleccionado" class="h5 mb-0 font-weight-bold text-gray-800" style="color: rgb(35, 154, 5);">
                                            $&nbsp;&nbsp;0
                                        </div>

                                    </div>
                                    <div class="col-auto">
                                        <img class="logo" src="{% static 'assets/iconos/logo-heart.png' %}" alt=""
                                            style="height: 60px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <!-- Seccion de tabla-->
                <div class="section"> 

                    <div class="row p-3">
                        <div class="col-6 ">
                            <div id="botonAutorizar">
                        
                                <button type="button" id ="autorizar-boton" class="btn btn-success autorizar-button btn-lg w-100" data-toggle="modal" data-target="#confirmarModal" data-total-disponible="{{ totalDisponibleConCodigo }}">
                                    Autorizar Seleccionados
                                </button>
                
                            </div>
                        </div>

                        <div class="col-6">
                            <div>
                                <button type="button" class="btn btn-outline-success btn-lg  w-100 " data-toggle="modal" data-target="#filtroAvanzadoModal">
                                    Filtros
                                </button>
                            </div>  
                        </div>
            
                    </div>
                
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive" style="border-radius: 2px;">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                    style="border-radius: 15px;border-color: #5454E6;">
                                    <thead>
                                        <tr style="background-color: #5454E6;color: aliceblue;">

                                            <th class="text-center text-uppercase p-3"><input type="checkbox" name="" id="seleccionarTodos"></th>
                                            <th class="text-center text-uppercase">Codigo financiero</th>
                                            <th class="text-center text-uppercase">Nro factura</th>
                                            <th class="text-center text-uppercase">Proveedor</th>
                                            <th class="text-center text-uppercase">FF</th>
                                            <th class="text-center text-uppercase">Importe</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for factura in page %}
                                        <tr>
                                            {% if factura.estado == 'Pendiente' %}
                                                <td class="text-center p-3">
                                                    <input type="checkbox" name="facturas_check_id" value="{{ factura.id }}" data-nro="{{ factura.nroFactura }}" data-total="{{ factura.total }}"  data-proveedor="{{ factura.proveedor}}" data-codigo="{{ factura.codigo.CODIGO }}">
                                                </td>
                                            {% else %}
                                                <td class="text-center p-3"></td>
                                            {% endif %}
                                            <td style="width: 130px;">{{ factura.codigo.CODIGO }}</td>
                                            <td style="width: 130px;">📅{{ factura.nroFactura }}</td>
                                            <td>{{ factura.proveedor }}</td>
                                            <td>{{ factura.ff }}</td>
                                            <td>💵{{factura.total|intcomma}}</td>
                                            <td style="display: none;" id="total_factura_{{ factura.id }}">{{factura.total}}</td>
                                            <td style="width: 150px;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button type="submit" class="btn btn-primary" name="factura_detalle_id" value="{{ factura.id }}">
                                                            <img class="logo" src="{% static 'assets/iconos/ver.png' %}" alt="" style="max-height: 30px;">
                                                        </button>     
                                                    </div>

                                                    <div class="col-6">
                                                        {% if factura.estado == 'Pendiente' %}

                                                            {% for codigo, totalDisponible in totalDisponibleConCodigo.items %}

                                                                {% if codigo == factura.codigo.CODIGO %}
                                                                    {% if factura.total < totalDisponible %}
                                                                        <button type="submit" class="btn btn-success" name="factura_button_id" value="{{ factura.id }}">
                                                                            <img class="logo" src="{% static 'assets/iconos/autorizar.png' %}" alt="" style="max-height: 30px;">
                                                                        </button>
                                                                            
                                                                    {% else %}
                                                                        <button type="button" class="btn btn-secondary error-button" >
                                                                            <img class="logo" src="{% static 'assets/iconos/autorizar.png' %}" alt="" style="max-height: 30px;">
                                                                        </button>

                                                                    {% endif %}
                                                                {% endif %}

                                                            {% endfor %}

                                                        {% elif factura.estado == 'Autorizado'%}
                                                            <button type="submit" class="btn btn-danger botonFactura" name="factura_desautorizar" value="{{ factura.id }}" style="display: none">
                                                                <img class="logo" src="{% static 'assets/iconos/autorizar.png' %}" alt="" style="max-height: 30px;">
                                                            </button>         
                                                            <div class="fecha-auto" data-fecha-auto="{{ factura.autorizado_fecha }}"></div> 
                                                            
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                           
                                <div class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                    <a href="?page=1" class="btn btn-primary" style="margin: 5px;padding: 1;">Primera</a>
                                    <a href="?page={{ page.previous_page_number }}" class="btn btn-primary" style="margin: 5px;padding: 1;">Anterior</a>
                                    {% endif %}
                                    
                                    <span class="current">
                                        {% if cantidad_facturas_pendientes > 0 %}
                                        <b>Página {{ page.number }} de {{ page.paginator.num_pages }}</b>
                                        {% endif %}
                                    </span>
                                                            
                                    {% if page.has_next %}
                                    <a href="?page={{ page.next_page_number }}" class="btn btn-primary" style="margin: 5px;padding: 1;">Siguiente</a>
                                    <a href="?page={{ page.paginator.num_pages }}" class="btn btn-primary" style="margin: 5px;padding: 1;">Última</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<script>

    // Función para configurar los campos de fecha con los valores del primer y último día del mes actual
    function setDefaultDates() {
        const fechaDesdeInput = document.getElementById('fecha_desde');
        const fechaHastaInput = document.getElementById('fecha_hasta');

        fechaDesdeInput.value = getFirstDayOfMonth();
        fechaHastaInput.value = getLastDayOfMonth();
    }

    function limitarProveedoresSeleccionados() {
        const maxProveedoresSeleccionados = 20;
        const maxCaracteresProveedor = 22;
        const proveedoresSeleccionados = document.getElementById('proveedores_seleccionados').getElementsByTagName('li');

        for (let i = 0; i < proveedoresSeleccionados.length; i++) {
            let proveedorTexto = proveedoresSeleccionados[i].textContent.trim();
            if (proveedorTexto.length > maxCaracteresProveedor) {
            proveedorTexto = proveedorTexto.substring(0, maxCaracteresProveedor) + '...';
            }
            proveedoresSeleccionados[i].textContent = '👤 ' + proveedorTexto;
        }

        if (proveedoresSeleccionados.length > maxProveedoresSeleccionados) {
            for (let i = maxProveedoresSeleccionados; i < proveedoresSeleccionados.length; i++) {
            proveedoresSeleccionados[i].style.display = 'none';
            }

            // Agregar un elemento adicional al final que diga "Mas.."
            const masElement = document.createElement('li');
            masElement.textContent = '👉 Mas..';
            proveedoresSeleccionados[maxProveedoresSeleccionados - 1].parentNode.appendChild(masElement);
        } 
    }

    function limitarfacturasSeleccionados() {
        const maxfacturasSeleccionadas = 20;
        const maxCaracteresfactura = 22;
        const facturasSeleccionadas = document.getElementById('facturas_seleccionadas').getElementsByTagName('li');

        for (let i = 0; i < facturasSeleccionadas.length; i++) {
            let facturaTexto = facturasSeleccionadas[i].textContent.trim();
            if (facturaTexto.length > maxCaracteresfactura) {
            facturaTexto = facturaTexto.substring(0, maxCaracteresfactura) + '...';
            }
            facturasSeleccionadas[i].textContent = '👉 ' + facturaTexto;
        }

        if (facturasSeleccionadas.length > maxfacturasSeleccionadas) {
            for (let i = maxfacturasSeleccionadas; i < facturasSeleccionadas.length; i++) {
            facturasSeleccionadas[i].style.display = 'none';
            }

            // Agregar un elemento adicional al final que diga "Mas.."
            const masElement = document.createElement('li');
            masElement.textContent = '👉 Mas..';
            facturasSeleccionadas[maxfacturasSeleccionadas - 1].parentNode.appendChild(masElement);
        } 
    }

    function toggleAutorizarButton() {
        var totalSeleccionado = 0;

        // Recorre las casillas de verificación seleccionadas y suma los totales
        $('input[name="facturas_check_id"]:checked').each(function () {
            var solicitudId = $(this).val();
            var totalSolicitudText = $('#total_factura_' + solicitudId).text();
            var totalSolicitud = parseFloat(totalSolicitudText.replace(',', '.'));
            totalSeleccionado += totalSolicitud;
        });

        
        // Actualiza el total en la tarjeta verde
        $('#totalSeleccionado').text('$ ' + totalSeleccionado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));

    }

    // Función para manejar la selección de todas las casillas
    $('#seleccionarTodos').click(function () {
        // Obtener el estado actual de la casilla "Seleccionar Todos"
        var isChecked = $(this).prop('checked');

        // Cambiar el estado de todas las casillas individuales
        $('input[name="facturas_check_id"]').prop('checked', isChecked);

        // Llamar a la función para actualizar el botón de autorización
        toggleAutorizarButton();
    });

    // Manejar cambios en las casillas de verificación
    $('input[name="facturas_check_id"]').change(function () {
        toggleAutorizarButton(); // Llama a la función para actualizar la visibilidad del botón
    });

    // Llama a la función al cargar la página para verificar el estado inicial
    toggleAutorizarButton();

    // Función para manejar la selección de todos los elementos
    $('#seleccionarTodos').click(function () {
        // Obtén el estado actual de la casilla de verificación "Seleccionar Todos"
        var isChecked = $(this).prop('checked');

        // Establece el estado de todas las casillas de verificación individuales
        $('input[name="facturas_check_id"]').prop('checked', isChecked);
    });


    // Función para verificar y mostrar los botones
    function verificarFacturas() {
        var botonesFactura = document.querySelectorAll('.botonFactura');
        var fechasAuto = document.querySelectorAll('.fecha-auto');

        for (var i = 0; i < botonesFactura.length; i++) {
            var autorizacionFecha = new Date(fechasAuto[i].getAttribute('data-fecha-auto'));
            var fechaActual = new Date();

            // Calcular la fecha límite (24 horas atrás)
            var fechaLimite = new Date(fechaActual);
            fechaLimite.setHours(fechaActual.getHours() - 24);

            if (autorizacionFecha > fechaLimite) {
                botonesFactura[i].style.display = "block";
            } else {
                botonesFactura[i].style.display = "none";
            }
        }
    }

    // Llama a la función de verificación cuando se carga la página
    window.onload = verificarFacturas;

    $(document).ready(function () { 
        // Manejar clic en el botón de confirmación
        $('#confirmarAutorizacion').click(function () {
            var solicitudesSeleccionadas = [];

            // Recorre todas las casillas de verificación seleccionadas
            $('input[name="facturas_check_id"]:checked').each(function () {
                solicitudesSeleccionadas.push($(this).val());
            });


            // Envía un formulario con las solicitudes seleccionadas
            $.post('/autorizar_solicitudes/', { solicitudes: solicitudesSeleccionadas }, function (data) {
                // Aquí puedes manejar la respuesta del servidor si es necesario
                console.log("Botón de autorización clickeado");
                window.location.reload();
            });

            // Cierra el modal de confirmación
            $('#confirmarModal').modal('hide');
        });


        $('.autorizar-button').on('click', function() {
            // Obtener todas las checkboxes seleccionadas
            var facturasSeleccionadas = [];
            var totalFacturas = 0;
            var totalDisponible = JSON.parse('{{ totalDisponible_json | safe }}');
            var totalDisponibleCod = JSON.parse('{{ totalDisponible_json | safe }}');
            var totalSelec = {};


            $('input[name="facturas_check_id"]:checked').each(function() {
                var facturaId = $(this).val();
                var nroFactura = $(this).data('nro');
                var totalText = $(this).data('total');
                var total = parseFloat(totalText.replace(',', '.'));
                
                var codigo = $(this).data('codigo');
                var proveedor = $(this).data('proveedor');
                totalDisponible[codigo] -= total

                // Si el código ya existe en el totalSelec, suma el total existente
                if (totalSelec.hasOwnProperty(codigo)) {
                    totalSelec[codigo] += total;
                } else {
                    // Si el código no existe en el totalSelec, crea una nueva entrada
                    totalSelec[codigo] = total;
                }

                facturasSeleccionadas.push({ id: facturaId, nroFactura: nroFactura, total: total, proveedor: proveedor });
            });

             for (var key in totalDisponible) {
                 if (totalDisponible.hasOwnProperty(key)) {
                     if (totalDisponible[key] < 0){
                         // Muestra el botón si la suma es mayor
                         $('#autorizarBoton').hide();
                         $('#noAutorizarBoton').show();
                         break;
                     }
                     else {
                         // Muestra el otro botón si la suma no es mayor
                         $('#autorizarBoton').show();
                         $('#noAutorizarBoton').hide();
                     }
                 }
             }

            var mostrarTotales = document.getElementById("mostrarTotales");
            $('#mostrarTotales').empty();

            for (var codigo in totalSelec) {

                var espacio = document.createElement("hr");
                mostrarTotales.appendChild(espacio);

                if (totalSelec.hasOwnProperty(codigo)) {
                    var total = totalSelec[codigo];
                    
                    var elementoB = document.createElement("b");
                    elementoB.innerHTML = "Código"
                    mostrarTotales.appendChild(elementoB);

                    var elementoParrafo = document.createElement("p");
                    elementoParrafo.innerHTML = codigo;
                    mostrarTotales.appendChild(elementoParrafo);

                    var elementoB = document.createElement("b");
                    elementoB.innerHTML = "Total seleccionado"
                    mostrarTotales.appendChild(elementoB);

                    var elementoParrafo = document.createElement("p");
                    elementoParrafo.innerHTML = "$" +  total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    mostrarTotales.appendChild(elementoParrafo);
                }

                if (totalDisponibleCod.hasOwnProperty(codigo)) {
                    var total = totalDisponibleCod[codigo];
                    
                    var elementoB = document.createElement("b");
                    elementoB.innerHTML = "Total disponible"
                    mostrarTotales.appendChild(elementoB);

                    var elementoParrafo = document.createElement("p");
                    elementoParrafo.innerHTML = "$" + total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    mostrarTotales.appendChild(elementoParrafo);
                }

            }

            // Limpiar el contenedor en el modal
            $('#facturasSeleccionadasList').empty();

            // Crear una tabla en el modal
            var tabla = '<table class="table"><thead><tr><th>Factura</th><th>Proveedor</th><th>Importe</th></tr></thead><tbody>';

            // Agregar cada factura a la tabla
            facturasSeleccionadas.forEach(function(factura) {
                var totalFormateado = factura.total.toLocaleString('es-MX', { style: 'currency', currency: 'MXN' });
                tabla += '<tr><td>' + factura.nroFactura + '</td><td>' + factura.proveedor + '</td><td>' + totalFormateado + '</td></tr>';
            });

            tabla += '</tbody></table>';

            $('#facturasSeleccionadasList').append(tabla);
            $('#totalFacturas').text('$ ' + totalFacturas.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        });
 

        $('.error-button').click(function () {     
            
            var errorButtons = document.querySelectorAll(".error-button");

            errorButtons.forEach(function(button) {
                button.addEventListener("click", function() {
                    
                    Swal.fire({
                        title: 'Ups!',
                        text: 'Tu dinero disponible no alcanza para autorizar todas las facturas seleccionadas 😖',
                        icon: 'error',
                        
                        timer: 5000, // Establece el tiempo en milisegundos (en este caso, 3 segundos)

                        showConfirmButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Tengo codigo de autorizacion',                        
                        cancelButtonText: 'Cerrar',
                        cancelButtonAriaLabel: 'Botón Cerrar',
                        confirmButtonAriaLabel: 'Tengo codigo de autorizacion',
                        buttonsStyling: false,
                        customClass: {
                            confirmButton: 'btn btn-success m-1',  // Clase de Bootstrap para el botón "Abrir Segundo Modal"
                            cancelButton: 'btn btn-danger m-1'   // Clase de Bootstrap para el botón "Ok"
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Abre el segundo modal aquí si se hace clic en "Abrir Segundo Modal"
                            $('#codigoAutorizacionModal').modal('show');
                            
                        }
                    });
                });
            });
        });

        $('.error-button-modal').click(function () {     
            
            var errorButtons = document.querySelectorAll(".error-button-modal");

            errorButtons.forEach(function(button) {
                button.addEventListener("click", function() {
                    
                    Swal.fire({
                        title: 'Ups!',
                        text: 'Tu dinero disponible no alcanza para autorizar todas las facturas seleccionadas 😖',
                        icon: 'error',
                        
                        timer: 5000, // Establece el tiempo en milisegundos (en este caso, 3 segundos)

                        showConfirmButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Tengo codigo de autorizacion',                        
                        cancelButtonText: 'Cerrar',
                        cancelButtonAriaLabel: 'Botón Cerrar',
                        confirmButtonAriaLabel: 'Tengo codigo de autorizacion',
                        buttonsStyling: false,
                        customClass: {
                            confirmButton: 'btn btn-success m-1',  // Clase de Bootstrap para el botón "Abrir Segundo Modal"
                            cancelButton: 'btn btn-danger m-1'   // Clase de Bootstrap para el botón "Ok"
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById("contenedorMostrar").classList.remove("d-none");
                            
                        }
                    });
                });
            });
        });

    });


    document.addEventListener('DOMContentLoaded', function() {
        limitarProveedoresSeleccionados();

        const buscador = document.getElementById('buscador_proveedores');
        const selectProveedores = document.getElementById('proveedor');
        const opcionesProveedores = selectProveedores.options;
        const proveedoresSeleccionados = document.getElementById('proveedores_seleccionados');

        buscador.addEventListener('input', function() {
        const filtro = buscador.value.toLowerCase();
        for (let i = 0; i < opcionesProveedores.length; i++) {
            const proveedor = opcionesProveedores[i].text.toLowerCase();
            if (proveedor.includes(filtro)) {
            opcionesProveedores[i].style.display = 'block';
            } else {
            opcionesProveedores[i].style.display = 'none';
            }
        }
        });

        selectProveedores.addEventListener('change', function() {
        proveedoresSeleccionados.innerHTML = ''; // Limpiamos la lista antes de actualizarla
        for (let i = 0; i < opcionesProveedores.length; i++) {
            const opcion = opcionesProveedores[i];
            if (opcion.selected) {
            const proveedorSeleccionado = document.createElement('li');
            proveedorSeleccionado.textContent = opcion.text;
            proveedoresSeleccionados.appendChild(proveedorSeleccionado);
            }
        }

        // Limitar la lista de proveedores seleccionados después de agregar nuevos proveedores
        limitarProveedoresSeleccionados();
        });
    


        const buscadorfacturas = document.getElementById('buscador_facturas');
        const selectfacturas = document.getElementById('nroFactura');
        const opcionesfacturas = selectfacturas.options;
        const facturasSeleccionadas = document.getElementById('facturas_seleccionadas');

        buscadorfacturas.addEventListener('input', function() {
        const filtro2 = buscadorfacturas.value.toLowerCase();
        for (let i = 0; i < opcionesfacturas.length; i++) {
            const facturas = opcionesfacturas[i].text.toLowerCase();
            if (facturas.includes(filtro2)) {
            opcionesfacturas[i].style.display = 'block';
            } else {
            opcionesfacturas[i].style.display = 'none';
            }
        }
        });


        selectfacturas.addEventListener('change', function() {
        facturasSeleccionadas.innerHTML = ''; // Limpiamos la lista antes de actualizarla
        for (let i = 0; i < opcionesfacturas.length; i++) {
            const opcion2 = opcionesfacturas[i];
            if (opcion2.selected) {
                const facturaSeleccionada = document.createElement('li');
                facturaSeleccionada.textContent = opcion2.text;
                facturasSeleccionadas.appendChild(facturaSeleccionada);
            }
        }

        // Limitar la lista de proveedores seleccionados después de agregar nuevos proveedores
        limitarfacturasSeleccionados();
        });
    

        // Manejar clic en el botón de filtrar
        $('#filtroAvanzadoModal').click(function () {
            // Cierra el modal de confirmación
            $('#filtroAvanzadoModal').modal('hide');
            setDefaultDates();
        });

        // Manejar clic en el botón de filtrar
        $('#cerrarModal').click(function () {
            // Cierra el modal de confirmación
            $('#codigoAutorizacionModal').modal('hide');
            setDefaultDates();
        });
    });

  

</script>
{% endblock %}