{% extends 'index.html' %}
{% load static %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-..." crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
<script src="{% static 'script.js' %}"></script>

<!--MODALES-->


<div class="modal fade" data-backdrop="static" id="transferirDocumentoModal" tabindex="-1" role="dialog"
    aria-labelledby="transferirDocumentoModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: #5454E6;" id="transferirDocumento">
                    <img class="logo img" src="{% static 'assets/logo.png' %}" alt="" style="height: 50px;width: 50px;">
                    &nbsp;&nbsp; Transferir documento
                </h5>
                <button type="button" class="btn-close boton-cerrar-transferencia" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="enviar-transferencia-formulario" method="post">
                    {% csrf_token %}
                    <div class="row p-3">
                        <div class="col-12">
                            <div class="row m-1">
                                <label for="documento" class="form-label"><b class="texto-documento-form text-primary">Documento:</b></label>
                                <select id="seleccionar-documento" name="documento" class="form-select" required>
                                    <option value="" selected disabled>Selecciona un documento</option>
                                </select>
                                
                            </div>

                            <div class="row m-1 mt-3">
                                <label for="usuario" class="form-label"><b class="text-primary">Enviar a:</b></label>
                                <select id="seleccionar-usuario" name="usuario" class="form-select" required>
                                    <option value="" selected disabled>Selecciona una persona</option>
                                </select>
                            </div>

                            <div class="row  m-1 mt-3">
                                <label for="observacion" class="form-label"><b
                                        class="text-primary">Observacion:</b></label>
                                <textarea id="observacion" name="observacion" class="form-control"></textarea>
                            </div>

                        </div>

                        <div class="col-6">
                            <div id="formulario-detalle-documento" class="row m-1 mt-2">
                                <p><b class="text-primary text-uppercase">Tipo:&nbsp;&nbsp;</b><span
                                        id="tipoDocumento"></span></p>
                                <p><b class="text-primary text-uppercase">Numero:&nbsp;&nbsp;</b><span
                                        id="numeroDocumento"></span></p>
                                <p><b class="text-primary text-uppercase">Ejercicio:&nbsp;&nbsp;</b><span
                                        id="ejercicioDocumento"></span></p>
                            </div>
                        </div>
                        <button type="submit" id="boton-enviar-transferencia" class="btn btn-primary btn-lg ">
                            Crear transferencia
                        </button>
                    </div>
                
                </form>    
            </div>
            <div class="modal-footer">
                <!--<button typ
                    e="submit" id="boton-enviar-transferencia" class="btn btn-primary btn-lg btn-block close" data-dismiss="modal" aria-label="Cerrar" data-toggle="modal" data-target="#confirmacionModal">Crear transferencia</button>-->
            </div>
        </div>
    </div>
</div>



    <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de que desea hacer la transferencia?</h5>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="crearTransferencia" name="crearTransferencia">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


<!--Modal ver datos de documento-->

<div class="modal fade" id="verDocumentoModal" tabindex="-1" role="dialog" aria-labelledby="verDocumento"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalles del documento</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="modal-ver-documento">
            </div>
        </div>
    </div>
</div>

<!--SECCION DE TARJEtAS-->
<div class="container mt-4" style="min-height: 70vh;">
    <div class="card">
        <div class="card-body">


            <div class="row">
                <!-- cantidad de documentos pendientes de recepcion-->
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card shadow h-100 py-2"
                        style="background-color: rgba(1, 37, 242, 0.503);border-left: 4px solid rgba(1, 10, 185, 0.9);">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                        <b style="color: aliceblue;">DOCUMENTOS PENDIENTES</b>
                                    </div>
                                    <div class="h4 mb-0 font-weight-bold " id="documentos-pendientes"
                                        style="color: #ffffff;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- cantidad de documentos en transito-->
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card shadow h-100 py-2"
                        style="background-color: rgba(60, 255, 12, 0.5);border-left: 4px solid rgba(31, 142, 3, 0.5);">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-lg font-weight-bold text-uppercase mb-1"
                                        style="color: rgb(35, 154, 5);">
                                        <b>DOCUMENTOS EN TRANSITO</b>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="documentos-en-transito"
                                        style="color: rgb(35, 154, 5);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- cantidad de documentos que es propietario-->
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card shadow h-100 py-2"
                        style="background-color: rgba(245, 186, 57, 0.5);border-left: 4px solid rgba(237, 146, 0, 0.9);">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-lg font-weight-boldtext-uppercase mb-1"
                                        style="color: rgb(252, 117, 0);">
                                        <b>DOCUMENTOS</b>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="cant-documentos"
                                        style="color: #e96100;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--SECCION DE TABLA-->

            <div class="section">

                <div class="row p-3">
                    <div class="col-6">
                        <div id="nuevaTransferencia">
                            <button type="button" id="nuevaTransferenciaBoton"
                                class="btn btn-outline-success btn-lg w-100" data-toggle="modal"
                                data-target="#transferirDocumentoModal">
                                Nueva transferencia
                            </button>
                        </div>
                    </div>

                    <div class="col-6">
                        <div>
                            <button type="button" class="btn btn-outline-success btn-lg w-100 " data-toggle="modal"
                                data-target="#filtroAvanzadoModal">
                                Filtros

                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 p-4">
                        <div class="table-responsive" style="border-radius: 0px; overflow: auto;height: 70vh;">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                style="border-radius: 15px; border-color: #5454E6;">

                                <thead>
                                    <tr style="background-color: #5454E6;color: aliceblue;">
                                        <th style="background-color: #5454E6; color: aliceblue; position: sticky; top: 0; z-index: 1;"
                                            class="text-center text-uppercase">Tipo</th>
                                        <th style="background-color: #5454E6; color: aliceblue; position: sticky; top: 0; z-index: 1;"
                                            class="text-center text-uppercase">Numero</th>
                                        <th style="background-color: #5454E6; color: aliceblue; position: sticky; top: 0; z-index: 1;"
                                            class="text-center text-uppercase">Ejercicio</th>
                                        <th style="background-color: #5454E6; color: aliceblue; position: sticky; top: 0; z-index: 1;"
                                            class="text-center text-uppercase">Estado</th>
                                        <th
                                            style="background-color: #5454E6; color: aliceblue; position: sticky; top: 0; z-index: 1;">
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="documentos-tabla">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}