<!-- Ejemplo de integración en tu template Django -->

{% extends 'index.html' %}

{% load static %}

{% block content %}

	<div class="card" style="margin: 20px;">
		<div class="card-header text-center">
			<h1 class="">Organigrama Municipal</h1>
		</div>
		<div class="card-body">
			<div class="row"><div id="tree"></div></div>
		</div>

	</div>

	<link rel="js" href=>
	<script src="{% static '/js/orgchart.js' %}"></script>
    <!-- Agrega tu organigrama en el script -->
    <script>
		var data = JSON.parse('{{ data|safe  }}');
		console.log( data)

		OrgChart.templates.mila.defs = '<marker id="arrow" viewBox="0 0 10 10" refX="8" refY="5" markerWidth="8" markerHeight="8" orient="auto-start-reverse"><path fill="#aeaeae" d="M 0 0 L 10 5 L 0 10 z" /></marker><marker id="dotBlue" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="5" markerHeight="5"> <circle cx="5" cy="5" r="5" fill="#039BE5" /></marker>';
		OrgChart.templates.mila.link = '<path marker-start="url(#dotBlue)" marker-end="url(#arrow)"   stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M{xa},{ya} {xb},{yb} {xc},{yc} L{xd},{yd}" />';
		OrgChart.templates.mila.link_field_0 = '<text text-anchor="middle" fill="#039BE5" data-width="290" x="0" y="0" style="font-size:12px;">{val}</text>';

		data.forEach(function(node) {
			if (node.img) {
				node.img = '{{ MEDIA_URL }}' + node.img; // Agrega la ruta a las imágenes
			}
		});


		var chart = new OrgChart(document.getElementById("tree"), {    
			mouseScrool: OrgChart.action.ctrlZoom,
			enableSearch: false,
			template: "mila",
			nodeBinding: {
				field_0: "Nombre" ,
				field_1: "Puesto",
				img_0: "img"
			},
			linkBinding: {
				link_field_0: "createdAt"
			}
		});

		chart.load(data);
    </script>

{% endblock %}